  .info-detail .order_goods_title {
    width:200px;
    margin: 15px 1px 0 20px;
    vertical-align: top;
    display: inline-block;
    box-sizing: content-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a{
    text-decoration: none;
  }

